.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  height: 80px;
}
.header-title-container {
  display: flex;
  align-items: space-around;
  width: 80%;
  color: white;
}

.title {
  margin-left: 20px;
}

.icons-header {
  color: white;
  fill: white;
  margin-right: 20px;
  /* width: 20%; */
  cursor: pointer;
}
